<h1>Login Page</h1>
<form>
  <label for="name">Enter username:</label>
  <input
    type="text"
    placeholder="Your Username"
    name="username"
    class="form-input"
  />
  <br />
  <label for="name">Enter password:</label>
  <input
    type="text"
    placeholder="Your Password"
    name="password"
    class="form-input"
  />
</form>
<p>Don't have an account? <span><a href="/signup">Sign Up!</a></span></p>